* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.booking {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-image: url(images/2022-06-05_Vrbo_APFT2_Barcelona_Therin_House_2_4605_2_1.png);
}

header {
    display: inline;
}

#logo{
    margin-left: 50px;

}
#right-menu {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    /* align-items: center; */
    width: 100%;
    margin-left: 30%;
    padding: 30px;
}

body div{
    background-image: image(background-image);
}

.booking h1{
    color: rgb(254, 250, 250);
    display: flex;

    margin-left: 80px;
    padding-top: 80px;
    align-items: center;
}

#header-container  {
    display: flex;
    font-size: 15px;
    background-color: rgb(220, 212, 212);
    font-size: 50px;
    align-items: space-between;
}

a {
    margin: 20px;
    padding-top: 55px;
}

.button{
    height: 50px;
    width: 350px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#boxes-container{
    display: flex;
    margin: 50px;
    position: absolute;
}

.button img{
    height: 25px;
    width:25px;
}

#seek-button{
    padding: 10px;
    display: flex;
    border-radius: 20px;
    width: 80px;
    height: 50px;
    align-items: center;
    color: aliceblue;
    background-color: rgb(11, 11, 79);
}
#guests{
    display: inline-block;
}

#suggestions h1{
    margin-left: 150px;
}

#suggestions-container{
    margin-left: 150px;
    display: flex;
    
}

#suggestions-container img{
    border-radius: 20px;
    display: flex;
    height: 150px;
    width: 80%;
}

#accomodation img{
    margin-left: 150px;
    display: flex;
    border-radius: 20px;
    height: 150px;
    width: 80%;
}
.accommodation-boxes{
    display: flex;
    margin-left: 150px;
    border-radius: 20px;
}